
/****
.container-fluid{
    background-image: ##### ;
}
**/


.card-img-top{
    border-radius: 50%;



}
.card{
    margin-left: 250px;

}
.img-fluid{

    border-radius: 50%;
}
.xp{
    margin-bottom: auto;
}
#hobbies{
    text-decoration: underline;
    text-decoration-color: grey;

}
#lang{
    text-decoration: underline;
    text-decoration-color: grey;
}

#titre{
    text-decoration: underline;
    text-decoration-color: grey;
}
#pointille{
    width: 150px;
    border-radius: 5px;
    border:dashed 3px;
    text-align: center;
    background: grey;

}#pointille2{
    background: grey;
    width: 400px;
    border-radius: 5px;
    border:dashed 3px;
     text-align: center;
}
 #pointille3 {
     width: 400px;
     border-radius: 5px;
     border: dashed 3px;
     background: grey;
     text-align: center;
 }
